body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tophalf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    height: 1000px;
}

.logo {
    height: 150px;
    margin-left: -58px;
    margin-top: -96px;
}

.logoside {
    width: 600px;
    height: 300px;
    margin-left: -78px;
}

.caption {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -15px;
}

.whitebox {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    height: 480px;
    width: 520px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px rgb(212 212 212);
    margin-left: 200px;
}

#username {
    height: 140px;
    width: 320px;
    margin-bottom: 10px;
}

#password {
    height: 140px;
    width: 320px;
    margin-bottom: 15px;
}

#Login {
    height: 69.98px;
    width: 300px;
    background-color: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}

.whitebox a {
    text-decoration: none;
    color: #1877f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

#create-account {
    height: 75px;
    width: 350px;
    color: #fff;
    background-color: #42b72a;
    border: 1px solid #42b72a;
    margin-top: 40px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}

.create-page {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    margin-left: 200px;
}

.create-page a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bottomhalf {
    width: 48%;
    margin-left: 500px;
    color: #8a8d91;
    font-size: small;
}

.languages {
    margin-bottom: 10px;
    font-size: medium;
    margin-left: -200px;
}

.links {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: -200px;
}

.links a {
    text-decoration: none;
    color: #8a8d91;
    margin-right: 16px;
    margin-bottom: 30px;
    font-size: larger;
}